@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.splash-logo {
  max-height: 110px;
  max-width: 250px;
}

.splash-logo-small {
  max-height: 70px;
  max-width: 240px;
  padding:0 10px;
}

h1 {
  font-size:28px;
  padding-bottom:20px;
}

h2 {
  font-size:22px;
  padding:20px 0 10px 0;
}

.blogpost ul {
  padding:0 20px;
  list-style-type:square;
  margin:20px 0;
}

p {
  padding:10px 0;
}

a {
  color:#232b36;
  text-decoration:underline;
}

