@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.splash-logo {
  max-height: 110px;
  max-width: 250px;
}

.splash-logo-small {
  max-height: 70px;
  max-width: 240px;
  padding:0 10px;
}

h1 {
  font-size:28px;
  padding-bottom:20px;
}

h2 {
  font-size:22px;
  padding:20px 0 10px 0;
}


.blogpost ul {
  padding:0 20px;
  list-style-type:square;
  margin:20px 0;
}

.blogpost h1,
.blogpost h2,
.blogpost h3 {
  font-weight:bold;
}

.blogpost h1 {
  padding:0;
  margin:0;
}

.blogpost h2.published-at {
  margin: 0;
  padding: 0 0 40px 0;
  font-weight: normal;
  font-size: 14px;
}

.blogpost h2.published-at svg {
  width: 15px;
  display: inline;
  vertical-align: text-top;
  margin-right: 3px;
}

p {
  padding:10px 0;
}

a {
  color:#232b36;
  text-decoration:underline;
}

#navAction a {
  text-decoration:none;
}

.image-caption {
  font-family:'Times New Roman', Times, serif;
  font-weight:bold;
  display:inline-block;
  padding:5px 0 60px 0;
  font-size:15px;
  color:#333;
}

.image-caption.centered {
  text-align:center;
}

.blogpost .footnote {
  vertical-align: super;
  font-size: 12px;
  text-decoration: none
}

.blogpost .footnote:hover {
  text-decoration:underline;
}

.blogpost .footnotes {
  list-style-type: decimal;
  margin: 30px 0 40px 0;
  padding-left: 20px;
  font-size: 14px;
}

.blogpost footer {
  border-top: 1px solid #a2a2a2;
  padding-top: 30px;
  margin-top: 60px;
}

.blogpost footer h4 {
  text-transform:uppercase;
  font-size:13px;
}

.blogpost footer a {
  font-size: 24px;
  text-decoration: none;
}

iframe {
  margin:20px auto;
}

@media (max-width: 600px) {

  iframe {
    transform:scale(0.5) translateX(-59%);
    margin:-40% 0;
  }

}


